@import "../../../styles/common.scss";
@import "../../../styles/reset.scss";

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

input {
  background-color: $background-grey;
  border: 1px solid $border-grey;
  border-radius: 4px;
  text-indent: 8px;
  padding: 7px;
}

button {
  background-color: #bbdefb;
  color: $white;
  border: 1px solid $border-grey;
  border-radius: 4px;
  padding: 7px;
  font-weight: 600;
  // .active {
  //   background-color: cornflowerblue;
  // }
}

a {
  text-decoration: none;
  color: $text-grey;
}

.main {
  background-color: $background-grey;
  border-top: 1px solid $border-grey;
  width: 100%;
  height: 100%;
}

.main__container {
  display: flex;
  width: 898px;
  margin: 0 auto;
  height: 810px;
  background-color: $background-grey;
}
